<%= render './shared/header', title_name: 'Tweet', subtitle: 'This is the title you\'ve clicked' %>
<br>
<hr>
<%= render @tweet, show: true %>

<% if logged_in? %>
    <div class="columns is-multiline">  
        <div class="column is-6 is-offset-3">
            <%= render 'retweets/form', tweet: @tweet, retweets: @retweets.build %>
        </div>  
    </div>
<% end %>