<%= render './shared/header', title_name: 'Tweet', subtitle: 'This is the title you\'ve clicked' %>
<br>
<hr>
<%= render @tweet, show: true %>
<div class="columns is-multiline">  
    <div class="column is-6 is-offset-3">
        <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="field">
            <p class="control">
                <textarea class="textarea" placeholder="Add a comment..."></textarea>
            </p>
            </div>
            <div class="field">
            <p class="control">
                <button class="button">Post comment</button>
            </p>
            </div>
        </div>
        </article>
    </div>
</div>