<%= render 'shared/header' , title_name: 'Create User',
    subtitle:'You can create user by passing name, email and password'%>
<br>
<hr>
<div class="columns is-multiline">  
    <div class="column is-6 is-offset-3">
        <%= render 'form', user: @user %>
    </div>
</div>