// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bulma";

body{
    background-color: rgb(236, 235, 235);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.is-danger{
    color:hsl(348, 100%, 61%);
}
.is-success{
    color:hsl(141, 53%, 53%);
}
h2.subtitle.logo{
    display:flex;
    align-items: center;
    .fa-twitter{
        padding-top:15px;
        font-size: 2rem;
        &:hover{
            cursor: pointer;
            color: blue;
        }
    }
}
.navbar__hover {
    a.navbar-item.all__item{
        transition: all 1s ease;
        &:hover{
            background-color: transparent;
            border-bottom: 1px blue;
            color: white;
        }
    }
    & .subtitle .navbar-item.main__item{
        transition: all 1s ease;
        padding-top:20px;
        &:hover{
            background-color: transparent;
            color: rgb(253, 247, 247);
        }
    }
}
.button_margin{
    margin-left: 12px;
}
.retweets_in_tweet{
    display:none;
}
.hero.is-medium .hero-body{
    padding:7rem 1.5rem;
}
img{
    border-radius:50%;
}
.card-header .box{
    box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.01), 0 0px 0 0px rgba(10, 10, 10, 0);
}
.fa.fa-gratipay{
    &:hover{
        cursor: pointer;
    }
}
