// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bulma";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.is-danger{
    color:hsl(348, 100%, 61%);
}
.is-success{
    color:hsl(141, 53%, 53%);
}
.navbar__hover {
    & .all__item{
        &:hover{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin: 0;
            border-bottom: 2px solid rgb(53, 53, 53);
            background-color: transparent;
            color: rgb(53, 53, 53);
        }
    }
    & .subtitle .navbar-item.main__item{
        &:hover{
            background-color: transparent;
            color: rgb(53, 53, 53);
        }
    }
}
section.hero.is-hero__main.is-medium{
    background: linear-gradient(rgba(white,0), rgba(rgb(32, 88, 241),0.3));
    //, url( asset-path('white-flower-on-a-white-background-4467127.jpg') 
}
